<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.brandeis.jjwang95.inminder">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Reminder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BillAdd">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.BillAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BillSetBudget">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.BillSetBudget" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bill"
            android:label="Bill">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Bill" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Password"
            android:label="Password">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderDetail"
            android:label="ReminderDetail">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.ReminderDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddReminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.AddReminder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EditReminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.EditReminder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_password">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Add_password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Password_website">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Password_website" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BillNote">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.BillNote" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ReminderWebSearch">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.ReminderWebSearch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".RingTonePlayingService"
            android:enabled="true">
        </service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>