<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.brandeis.jjwang95.inminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Reminder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BillAdd">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.BillAdd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BillSetBudget">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.BillSetBudget" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bill"
            android:label="Bill">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Bill" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Password"
            android:label="Password">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderDetail"
            android:label="ReminderDetail">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.ReminderDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddReminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.AddReminder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EditReminder">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.EditReminder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_password">
            <intent-filter>
                <action android:name="edu.brandeis.jjwang95.inminder.Add_password" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>